name: Build & Test

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Restore dependencies
        run: dotnet restore FeiertageApi.NET.slnx

      - name: Build
        run: dotnet build FeiertageApi.NET.slnx -c Debug --no-restore

      - name: Test
        run: dotnet test FeiertageApi.Tests/FeiertageApi.Tests.csproj -c Debug --no-build --no-restore --collect:"XPlat Code Coverage" --results-directory ./TestResults

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: ./TestResults
          token: ${{ secrets.CODECOV_TOKEN }}

#      - name: Generate coverage report
#        run: |
#          dotnet tool install --global dotnet-reportgenerator-globaltool
#          reportgenerator -reports:TestResults/*/coverage.cobertura.xml -targetdir:TestResults/CoverageReport -reporttypes:"Html;MarkdownSummaryGithub"
#
#      - name: Add coverage PR comment
#        uses: marocchino/sticky-pull-request-comment@v2
#        if: github.event_name == 'pull_request'
#        with:
#          recreate: true
#          path: TestResults/CoverageReport/SummaryGithub.md

      - name: Upload coverage report
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: coverage-report
          path: TestResults/CoverageReport